/* navegador */
.navegador {
  background-color: #f8deca;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0; }

.row {
  align-items: center; }

.logo {
  height: 150px;
  width: auto;
  float: left;
  border-radius: 15px;
  padding-left: 0; }

.menu-navegador {
  margin-top: 10px; }

.nav-items {
  padding-left: 0;
  margin-right: 12px;
  font-size: 120%;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  list-style-position: outside; }
  .nav-items a {
    color: #306464; }

.nav-items a:hover {
  color: #3b3b3b; }

.nav-items a:link,
.nav-items a:active {
  text-decoration: none; }

.seccion-carousel {
  height: 80vh; }

/* footer */
.pieDePag {
  background-color: cornsilk; }

.listContactos {
  list-style: none; }

.iconos {
  padding-right: 5px; }

h3 {
  text-align: center;
  color: #306464; }

.btnColor {
  background-color: #cfaa8d;
  border-radius: 4px; }

/* seccion pedidos */
.formulario {
  justify-content: center;
  width: 100%; }

.formulario__form-pedidos {
  border: 1px solid black;
  padding: 5px; }

/* seccion productos */
.display-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 80vh; }

.display-productos__seccion-productos {
  justify-content: space-around; }

.tarj-prod {
  border: 2px solid #306464;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s; }

.tarj-prod:hover {
  border: solid 1px #0ce9e9;
  transform: scale(1.05); }

.img-prod {
  height: 250px;
  width: auto;
  border-bottom: 1px solid #306464; }

.nombre-producto {
  font-size: 170%;
  color: #306464; }

/* seccion contactos */
.contenedor-contactos {
  width: 100%;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
  color: #306464; }

.infoContactos {
  font-size: 150%; }
  .infoContactos .iconos {
    padding-right: 15px; }

.seccionPreguntas {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .seccionPreguntas .tarjetaPreg {
    width: 75%;
    padding: 10px 2px 2px 16px;
    border: 3px solid #306464;
    border-radius: 10px;
    transition: 0.2s; }
  .seccionPreguntas .tarjetaPreg:hover {
    transform: scale(1.05); }
  .seccionPreguntas .nomPreg {
    font-weight: bold;
    font-size: 120%; }

.menu-hamburguesa {
  display: none; }

/* media queries */
@media (max-width: 800px) {
  .display-productos {
    height: 160vh; }
  .display-productos__seccion-productos {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 30%;
    justify-content: stretch; } }

@media (max-width: 750px) {
  .menu-hamburguesa {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: #306464;
    outline: none;
    font-size: 1.7em;
    cursor: pointer;
    z-index: 2;
    float: right; }
  .menu-hamburguesa:active {
    border: none; }
  .menu-completo {
    display: none; } }
